.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #75B2BA;
  }

.styles.place1 {
  margin: 30px;
  width: 100%;
  height: 200px;
  background-color: #fafafa;
  border-color: #010f11;
}

.styles.place2 {
  margin: 30px;
  width: 100%;
  height: 200px;
  background-color: #fafafa;
}