.container {
  padding:10px;
  width:100%;
  height: 600px;
  background-image: url('../../asses/seaBackground.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  align-items: center;
  position: relative;
}

.info {
  align-items: center;
  text-align: center;
}


