.container {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #555;
    background-image: url(../../asses/seaBackground.jpeg);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color:rgb(3, 3, 3);
    margin-left: 30px;
}

.logo a {
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: rgb(6, 6, 6);
}

.logo a:hover {
    text-decoration: none;
    color: rgba(83, 82, 82, 0.709);
}

.links {
    margin-right: 20px;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: rgb(6, 6, 6);
}

.links a:hover {
    text-decoration: none;
    color: rgba(83, 82, 82, 0.709);
}